/** Variables **/
:root {

    /** Grid **/
    --header-mobile-grid-default: 1fr 16fr 1fr 1fr 1fr;
    --header-mobile-grid-searching: 1fr 16fr 3fr;
    --nav-mobile-grid-default: 16fr 4fr;
    --nav-welcome-mobile-grid-default: 1fr 1fr / 3fr 8fr;

    /** Font **/
    --font-size-standard: clamp(1.6rem, calc(1.5vw + 1rem), 2.0rem);
    --font-size-heading: clamp(2.1rem, calc(2vw + 1rem), 3.0rem);
    --font-weight-standard: 200;
    --font-weight-heading: 900;

    /** Dimension **/
    --icon-size-standard: clamp(3rem, calc(2.5vw + 1rem), 5rem); 
    --icon-size-large: clamp(11rem, calc(12vw + 1rem), 13rem);
    
    /** Color **/
    --light-gray: #cccccc;
}

a {
    text-decoration: none;
    color: inherit;
}

span {
    display: inline-block;
} */

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

input {
    padding: 0;
    margin: 0;
    border: none;
}

:root {
    font-size: 62.5%;
}